.container {
  margin: 0;
  padding: 0;
}

.text {
  box-sizing: border-box;
  margin: 50px;
  padding: 60px;
  background-color: #e4d6a7;
  font-size: 1.6em;
  text-align: center;
  color: #1c110a;
}
